body {
 margin: 0;
 font-family: Tahoma;
 background-color: rgba(238, 238, 238);
}

ul {
 list-style-type: none;
 background-color: rgba(50, 50, 50);
 color: rgb(238, 238, 238);
 margin: 0;
 padding: 0;
 position: fixed;
 width: 100%;
}
ul li {
 float: left;
}
ul li a {
 display: block;
 color: rgb(238, 238, 238);
 text-decoration: none;
 text-align: center;
 line-height: 40px;
 height: 40px;
 width: 125px;
}
ul li a:hover {
 background-color: rgb(238, 238, 238);
 color: rgba(50, 50, 50);
 transition-duration: 750ms;
}
ul li ul {
 display: none;
 width: 125px;
}
ul li ul li {
 background-color: rgb(50, 50, 50);
}
ul li ul li a:hover {
 background: rgb(238, 238, 238);
}
ul li:hover ul {
 display: block;
}
#paLabi {
 float: right;
}
/* @media screen and (max-width: 625px) {
 ul li,
 #paLabi {
  float: none;
  text-align: center;
  width: 100%;
 }
 ul li a {
  width: 100%;
 }
 ul li ul {
  width: 100%;
  position: relative;
 }
 ul li ul li {
  background-color: rgb(78, 78, 78);
 }
} */
.flex-container {
 background-color: aquamarine;
 display: flex;
 position: absolute;
 top: 100px;
 flex-flow: row; 
 z-index: -1;
}

.flex-container > div {
 background-color: darkorange;
 padding: 20px;
 margin: 10px;
 text-align: center;
 width: 300px;
}

#one {
 flex: 3;
 order: 3;
 flex-grow: 1;
}
#two {
 flex: 1;
 order: 1;
 flex-grow: 1;
}
#three {
 flex: 2;
 order: 2;
 flex-grow: 7;
}
